.report-Card {
    font-family: 'Montserrat', sans-serif;
    width: 120%;
}

.col-xl-1 {
    flex: 0 0 0.333333%!important;
    max-width: 0.333333%!important;
}
.col-md-1 {
    flex: 0 0 0.333333%!important;
    max-width: 0.333333%!important;
}
.col-lg-1 {
    flex: 0 0 0.333333%!important;
    max-width: 0.333333%!important;
}
.col-xl-1 {
    flex: 0 0 0.333333%!important;
    max-width: 0.333333%!important;
}


.col-xl.5 {
    flex: 0 0 48.666667%!important;
    max-width: 48.666667%!important;
}

.row-Strike {
    background-color: #cecece;
}