.tableFixHead          { overflow-y: auto; height: 800px; }
.tableFixHead thead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }

.dxSave {
    margin: 5px!important;
    float:right!important;
    margin-bottom: 15px!important;
    margin-top: 10px!important;
}